{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
        <h1>Products</h1>
    </div>
    
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for product in page_obj %}
                    <tr>
                        <td class="product-name" data-image-url="{% if product.cover %}{{ product.cover.url }}{% endif %}">
                            {{ product.name }}
                        </td>
                        <td>{{ product.stock }}</td>
                        <td>${{ product.price }}</td>
                        <td>
                            {% if user.is_authenticated and product.author == user %}
                                <a class="btn btn-warning" href="{% url 'edit_product' product.pk %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'delete_product' product.pk %}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'global/partials/pagination.html' %}
    </div>

    <div id="tooltip-image" style="display:none; position:fixed; width:500px; height:500px; border:1px solid #ccc; background:#fff;">
        <img id="tooltip-image-src" src="" alt="Product Image" style="width:100%; height:100%;">
    </div>

{% endblock content %}

<script src="{% static 'global/js/scripts.js' %}"></script>
