{% load bootstrap4 %}

<div class="main-content container">
  <form class="main-form" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-content form-content-grid">
      {% bootstrap_form form layout='horizontal' %}
      {% if form.cover.value %}
        <div class="form-group row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <img src="{{ form.cover.value.url }}" alt="Cover for {{ recipe.title }}" class="img-fluid" />
          </div>
        </div>
      {% endif %}
    </div>
    <div class="form-content form-content-grid">
      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
